.PreparingWorkspaceDescription {
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .PreparingWorkspaceDescription {
        font-size: 16px;
    }
}
