@use 'utils/mixins';

.InviteMembersLink {
    display: flex;

    &__input {
        height: 48px;
        flex-grow: 1;
        padding: 12px 14px;
        border-radius: 4px 0 0 4px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
    }

    button {
        display: flex;
        max-width: 382px;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;

        span {
            display: inline-block;
            height: 24px;
            margin-right: 9px;
        }

        svg {
            fill: #fff;
        }
    }

    &__button {
        width: 180px;
        height: 48px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 0 4px 4px 0;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }

        &:active {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &__button--single {
        @include mixins.tertiary-button;

        height: 40px;
        border-radius: 4px;
        color: #fff;
        border-color: rgba(255, 255, 255, 0.3);

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
}
