@mixin input {
    width: 452px;
    padding: 12px 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    &:active,
    &:focus {
        border: 2px solid rgba(255, 255, 255, 0.6);
    }
}

@mixin sideIllustrationKeyframe($name, $startOffsetPx, $endOffsetPx) {
    @keyframes #{$name}SlideInRight {
        from {
            right: #{$startOffsetPx}px;
        }

        to {
            right: #{$endOffsetPx}px;
        }
    }

    @keyframes #{$name}SlideOutRight {
        from {
            right: #{$endOffsetPx}px;
        }

        to {
            right: #{$startOffsetPx}px;
        }
    }
}
