@use 'sass:color';

@use 'utils/variables';
@use 'utils/mixins';

.PreparingWorkspaceProgress {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 120px;
    height: 100vh;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    &__circles {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
    }

    &__circle {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        margin: 5px 0;
        background: #fff;
        opacity: 0.3;

        &.active {
            opacity: 1;
            outline: 3px solid rgba(255, 255, 255, 0.4);
        }
    }

    &.OnboardingWizardProgress {
        &-enter {
            opacity: 0;
        }

        &-enter-active {
            opacity: 1;
            transition: transform 300ms linear;
        }

        &-enter-done {
            opacity: 1;
        }

        &-exit {
            opacity: 1;
        }

        &-exit-active {
            opacity: 0;
            transition: transform 300ms linear;
        }

        &-exit-done {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 1270px) {
    .PreparingWorkspaceProgress {
        display: none;
    }
}
